.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 17cqi;
    margin-right: 17cqi;
    margin-top: 4cqi;
    margin-bottom: 4cqi;
    gap: 2cqi;
    color: var(--dark-color);
}

.info h2 {
    font-size: 3rem;
}

.info h3 {
    font-size: x-large;
    color: var(--brand-color);
}

@media screen and (max-width: 600px) {
    .info {
        margin: 1.5rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .info h2 {
        padding-bottom: 1.5rem;
        font-size: 2rem;
    }

    .info h3 {
        padding-top: 1rem;
        font-size: 1.1rem;
    }
}